body, p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: xx-large;
    color: rgb(47, 82, 114);
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: x-large;
    color: rgb(245, 142, 25);
    font-weight: 500;
}

.recipe-img {
    width: 500px;
    height: auto;
}

.home {
    text-align: center;
    margin:10px 0;
    padding: 25px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    border: 1px #000 solid;
    border-radius: 5px;
}

.header {
    background-color: #F5F6EA;
    padding: 5px;
}